<div class="container">
  <h2>查询美股</h2>
  <br>
  <%= simple_form_for @usstock do |f| %>
    <div class="form-group">
      <%= f.input :juhe_gid, label: "股票编号", input_html: {class:"form-control"} %>
    </div>

    <%= f.submit "查询", class: "btn btn-primary", data: {disable_with: "Submiting..."} %>
  <% end %>
</div>
